@charset 'UTF-8';

:root {
  --light-green: #d5edeb;
  --green: #63dbd0;
  --brown: #403632;
  --light-grey: #eee;
  --white: #fff;
  --oswald-font: 'Oswald', sans-serif;
}

body {
  color: ver(--brown);
  background: url('https://assets.codepen.io/85188/bg-shadow.jpg') no-repeat right bottom / cover fixed;
  text-align: center;
}

p {
  line-height: 1.7;
}

img {
  max-width: 100%;
}

.title {
  font-family: var(--oswald-font);
  font-size: min(10vw, 4rem);
  margin-bottom: 2rem;
}

.btn {
  color: var(--white);
  background: var(--brown);
  border: 1px solid var(--brown);
  text-decoration: none;
  padding: 1rem;
  display: inline-block;
  margin: 2rem 0;
  transition: .4s;
}

.fadein {
  opacity: 0;
}

.wrapper {
  max-width: 38rem;
  margin: auto;
  padding: 0 1rem;
}

.hero {
  height: 100vh;
  position: relative;
}

.hero::after {
  content: '';
  width: 50%;
  height: 100%;
  background: url('https://assets.codepen.io/85188/bg-hero.jpg') no-repeat center / cover;
  position: absolute;
  inset: 0;
}

.hero .title {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: 2;
  width: 100%;
  font-size: max(12vw, 3rem);
  line-height: 1.2;
}
/*Loading*/
/*グレーのスクリーン*/
#loading {
  background-color: var(--light-grey);
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-item: center;
}
/*グリーンのスクリーン*/
#loading-screen {
  background-color: var(--light-green);
  position: fixed;
  inset: 0;
  z-index: 9998;
  translate: 0 100vh;
}

#loading p {
  font-size: 2rem;
  font-family: var(--oswald-font);
}