#bar {
  background-color: #0bd;
  position: fixed;
  top: 0;
  left: 0;
  height: 10px;
}

article {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  line-height: 1.8;
}

h2 {
  margin: 2rem 0 1rem;
}